@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: local('Open Sans'),
    local('OpenSans'),
    url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
  font-family: 'Open Sans Light';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: local('Open Sans Light'),
    local('OpenSans Light'),
    url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
}

html {
  overflow: auto;
  background-color: #323727;
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #fff;
}

a,
a:visited,
a:active {
  color: #2d7fb1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  display: block;
  padding: 0 4px;
}

tt, code, kbd, samp {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.class-description {
  font-size: 130%;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.class-description:empty {
  margin: 0;
}

#main {
  float: left;
  width: 70%;
}

article dl {
  margin-bottom: 40px;
}

section {
  display: block;
  background-color: #2c3022;
  padding: 12px 24px;
  margin-right: 30px;
  border-radius: 20px;
}

.variation {
  display: none;
}

.signature-attributes {
  font-size: 60%;
  color: #aaa;
  font-style: italic;
  font-weight: lighter;
}

nav {
  display: block;
  float: right;
  margin-top: 28px;
  width: 30%;
  box-sizing: border-box;
  border-left: 1px solid #181b0f;
  padding-left: 16px;
}
nav ul {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
  font-size: 100%;
  line-height: 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
nav ul a,
nav ul a:visited,
nav ul a:active {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  line-height: 18px;
  color: #47a7e4;
}
nav h3 {
  margin-top: 12px;
}
nav li {
  margin-top: 6px;
}

footer {
  display: block;
  padding: 6px;
  margin-top: 12px;
  font-style: italic;
  font-size: 90%;
}

h1, h2, h3, h4 {
  font-weight: 200;
  margin: 0;
}

h1 {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 48px;
  letter-spacing: -2px;
  margin: 12px 24px 20px;
}

h2, h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 12px;
}

h4 {
  font-size: 18px;
  letter-spacing: -0.33px;
  margin-bottom: 12px;
  color: #d2c371;
}

h5,
.container-overview .subsection-title {
  font-size: 120%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin: 8px 0 3px 0;
  color: #f28c8c;
}

.subsection-title {
  border-top: 30px solid rgba(0,0,0,0.8);
  color: rgba(0,0,0,0.8);
  font-size: 40px;
  line-height: 43px;
}

h6 {
  font-size: 100%;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
  font-style: italic;
}

.ancestors {
  color: #999;
}

.ancestors a {
  color: #999 !important;
  text-decoration: none;
}

.clear {
  clear: both;
}

.important {
  font-weight: bold;
  color: #950B02;
}

.yes-def {
  text-indent: -1000px;
}

.type-signature {
  color: #fff;
}

.name, .signature {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.details {
  margin-top: 14px;
  border-left: 2px solid #8b9a6a;
}
.details dt {
  width: 120px;
  float: left;
  padding-left: 10px;
  padding-top: 6px;
}
.details dd {
  margin-left: 70px;
}
.details ul {
  margin: 0;
}
.details ul {
  list-style-type: none;
}
.details li {
  margin-left: 30px;
  padding-top: 6px;
}
.details pre.prettyprint {
  margin: 0
}
.details .object-value {
  padding-top: 0;
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
  color: #8b9a6a;
}

.code-caption {
  font-style: italic;
  font-size: 107%;
  margin: 0;
}

.prettyprint {
  border: 1px solid #ddd;
  width: 80%;
  overflow: auto;
}

.prettyprint.source {
  width: inherit;
}

.prettyprint code {
  font-size: 100%;
  line-height: 18px;
  display: block;
  padding: 4px 12px;
  margin: 0;
  background-color: #fff;
  color: #4D4E53;
}

.prettyprint code span.line {
  display: inline-block;
}

.prettyprint.linenums {
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol {
  padding-left: 0;
}

.prettyprint.linenums li {
  border-left: 3px #ddd solid;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
  background-color: lightyellow;
}

.prettyprint.linenums li * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.params, .props {
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

.params .name,
.props .name,
.name code {
  color: #d2c371;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 100%;
}

.params td, .params th, .props td, .props th {
  border: 1px solid #323727;
  margin: 0;
  text-align: left;
  vertical-align: top;
  padding: 4px 6px;
  display: table-cell;
}

.params thead tr,
.props thead tr {
  background-color: #323727;
  font-weight: bold;
}

.params .params thead tr,
.props .props thead tr {
  background-color: #323727;
  font-weight: bold;
}

.params th,
.props th {
  border-right: 1px solid #323727;
}

.params thead .last,
.props thead .last {
  border-right: 1px solid #323727;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.disabled {
  color: #454545;
}

#subNav {
}
.sub-nav.displayed {
  background: rgba(60,100,171,0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  left: 60%;
  width: 15%;
  padding: 140px 0 0 0;
  box-shadow: inset 10px 0 10px rgba(0,0,0,0.1);
  border-left: 1px solid #555A49;
}
.sub-menu-header {
  font-size: 18px;
  background: #2c3022;
  padding: 4px 10px;
  cursor: pointer;
}
.sub-menu-header.active {
  background: #0c0e08;
}
.sub-menu-item {
  font-size: 12px;
  background: #21241a;
  padding: 4px 10px;
  cursor: pointer;
  margin: 0 0 1px 0;
}
.sub-menu-item.active {
  background: #0c0e08;
}

.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-top: 28px;
  overflow-y: auto;
  width: 30%;
  background: rgba(0, 0, 0, 0.2);
}


/* Overrides */

.prettyprint-wrapper {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  color: #8e908c;
  padding: 10px;
}

.prettyprint.linenums {
  border: none;
}
.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
  background: #c7d4ab;
}