<?js
  var data = obj;
?>
<section>
  <article>
    <div class="prettyprint-wrapper">
      <pre class="prettyprint source linenums">
        <code><?js= data.code ?></code>
      </pre>
    </div>
  </article>
</section>