@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: local('Open Sans'),
    local('OpenSans'),
    url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
  font-family: 'Open Sans Light';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: local('Open Sans Light'),
    local('OpenSans Light'),
    url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
}

html {
  overflow: auto;
  background-color: #1c1c1c;
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #bababa;
}

a,
a:visited,
a:active {
  color: #2d7fb1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  display: block;
  padding: 0 4px;
}

tt, code, kbd, samp {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.class-description {
  font-size: 130%;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em;
}
.class-description:empty {
  margin: 0;
}



.main {
  float: left;
  width: 70%;
}
.main .page-title {
}



.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-top: 28px;
  overflow-y: auto;
  width: 30%;
  background: #fff;
  box-sizing: border-box;
  border-left: 1px solid #1c1c1c;
  padding-left: 16px;
}
.side-nav .logo {
  width: 80px;
  height: 88px;
  background: url(img/logo.png) no-repeat;
  margin-bottom: 30px;
}
.side-nav .nav-home {
  font-weight: 100;
  font-size: 20px;
}
.side-nav .nav-home a,
.side-nav .nav-home a:visited,
.side-nav .nav-home a:active {
  font-family: 'Open Sans', sans-serif;
}
.side-nav a,
.side-nav a:visited,
.side-nav a:active {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  line-height: 18px;
  color: #f77073;
}
.side-nav ul {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
  font-size: 100%;
  line-height: 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.side-nav .side-menu-item {
  margin-top: 6px;
  padding: 3px 4px;
}
.side-nav .side-menu-item.active {
  background-color: rgba(0,0,0,0.1);
}
.side-nav h3 {
  margin-top: 12px;
  color: #b35153;
}
.side-nav .side-nav-ninja {
  margin: 40px 0 0 0;
  display: inline-block;
}



.sub-nav {
}
.sub-nav.displayed {
  background: #723637;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  left: 60%;
  width: 15%;
  padding: 143px 0 0 0;
  color: #fff;
  border-left: 20px solid #333;
}
.sub-nav.displayed .shuriken {
  position: absolute;
  top: -100px;
  left: 0;
  background: url(img/shuriken-large.png) no-repeat -400px 0;
  width: 100%;
  height: 800px;
  opacity: 0.1;
}
.sub-menu-header,
.sub-menu-item {
  position: relative;
  font-size: 18px;
  padding: 4px 10px;
  cursor: pointer;
  margin: 0 0 1px 0;
  transition: padding-left 0.5s;
  overflow: hidden;
}
.sub-menu-header {
  font-weight: bold;
  color: #babfbb;
}
.sub-menu-item {
  font-size: 12px;
}
.sub-menu-header:before,
.sub-menu-item:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 3px;
  width: 20px;
  height: 20px;
  display: block;
  background: url(img/shuriken.png) no-repeat;
  background-size: contain;

  transition: left 0.5s;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}
.sub-menu-header:before {
  background-image: url(img/shuriken-grey.png);
  top: 6px;
}
.sub-menu-header:hover:before,
.sub-menu-item:hover:before,
.sub-menu-header.active:before,
.sub-menu-item.active:before {
  left: 4px;
}
.sub-menu-header:hover,
.sub-menu-item:hover,
.sub-menu-header.active,
.sub-menu-item.active {
  background: rgba(125, 57, 58, 0.6);
  padding-left: 30px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



.article-sub-section {
}
.article-sub-section .list {
  margin-top: 10px;
}
.article-sub-section .list-item {
  list-style: none;
  position: relative;
}
.article-sub-section .list-item:before {
  position: absolute;
  left: -20px;
  top: 6px;
  content: "";
  width: 10px;
  height: 10px;
  background: url(img/shuriken-grey.png) no-repeat;
  background-size: contain;
}






article dl {
  margin-bottom: 40px;
}

section {
  display: block;
  padding: 12px 24px;
  margin-right: 30px;
  border-radius: 20px;
}

.variation {
  display: none;
}

.signature-attributes {
  font-size: 60%;
  color: #aaa;
  font-style: italic;
  font-weight: lighter;
}

footer {
  display: block;
  padding: 6px;
  margin-top: 12px;
  font-style: italic;
  font-size: 90%;
}

h1, h2, h3, h4 {
  font-weight: 200;
  margin: 0;
}

h1 {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 48px;
  letter-spacing: -2px;
  margin: 12px 24px 20px;
}

h2, h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 12px;
}

h4 {
  font-size: 18px;
  letter-spacing: -0.33px;
  margin-bottom: 12px;
  color: #f26e74;
  border-top: 1px solid #272727;
  padding-top: 10px;
}

h5,
.container-overview .subsection-title {
  font-size: 120%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin: 8px 0 3px 0;
  color: #7d393a;
}

.subsection-title {
  color: #fff;
  font-size: 40px;
  line-height: 43px;
  border-bottom: 30px solid #161616;
  padding-bottom: 10px;
  margin: 0;
  text-shadow: 0 0 20px #000;
}
.subsection-title:before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 53px;
  background: url(img/pocketninja.png) no-repeat;
  vertical-align: bottom;
  margin: 0 10px 0 0;
}

h6 {
  font-size: 100%;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
  font-style: italic;
}

.ancestors {
  color: #999;
}

.ancestors a {
  color: #999 !important;
  text-decoration: none;
}

.clear {
  clear: both;
}

.important {
  font-weight: bold;
  color: #950B02;
}

.yes-def {
  text-indent: -1000px;
}

.type-signature {
  color: #606061;
}

.name, .signature {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.details {
  margin-top: 14px;
  border-left: 2px solid #bababa;
}
.details dt {
  width: 120px;
  float: left;
  padding-left: 10px;
  padding-top: 3px;
}
.details dd {
  margin-left: 70px;
}
.details ul {
  margin: 0;
}
.details ul {
  list-style-type: none;
}
.details li {
  margin-left: 30px;
  padding-top: 3px;
}
.details pre.prettyprint {
  margin: 0
}
.details .object-value {
  padding-top: 0;
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
  color: #fff;
}

.code-caption {
  font-style: italic;
  font-size: 107%;
  margin: 0;
}

.prettyprint {
  border: 1px solid #ddd;
  width: 80%;
  overflow: auto;
}

.prettyprint.source {
  width: inherit;
}

.prettyprint code {
  font-size: 100%;
  line-height: 18px;
  display: block;
  padding: 4px 12px;
  margin: 0;
  background-color: #fff;
  color: #4D4E53;
}

.prettyprint code span.line {
  display: inline-block;
}

.prettyprint.linenums {
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol {
  padding-left: 0;
}

.prettyprint.linenums li {
  border-left: 3px #ddd solid;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
  background-color: lightyellow;
}

.prettyprint.linenums li * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.params, .props {
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

.params .name,
.props .name,
.name code {
  color: #f26e74;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 100%;
}

.params td,
.params th,
.props td,
.props th {
  border: 1px solid #121212;
  margin: 0;
  text-align: left;
  vertical-align: top;
  padding: 4px 6px;
  display: table-cell;
}

.params thead tr,
.props thead tr {
  background-color: #121212;
  font-weight: bold;
}

.params .params thead tr,
.props .props thead tr {
  background-color: #121212;
  font-weight: bold;
}

.params th,
.props th {
  border-right: 1px solid #121212;
  color: #333;
}

.params thead .last,
.props thead .last {
  border-right: 1px solid #121212;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.disabled {
  color: #454545;
}

/* Overrides */

.prettyprint-wrapper {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  color: #8e908c;
  padding: 10px;
}

.prettyprint.linenums {
  border: none;
}
.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
  background: #f26e74;
}
.prettyprint.linenums li.selected .str {
  color: #fff;
}