<?js
    var data = obj;
    var self = this;
?>

<?js if (data.augments && data.augments.length) { ?>
    <ul class="augments-list"><?js data.augments.forEach(function(a) { ?>
        <li class="augments-list-item"><?js= self.linkto(a, a) ?></li>
    <?js }) ?></ul>
<?js } ?>